fastapi
uvicorn
python-multipart

streamlit
requests

pillow
opencv-python==4.13.0.92
numpy==2.0.2

torch==2.8.0
torchvision==0.23.0

mediapipe==0.10.11
ultralytics==8.4.69

onnxruntime==1.19.2

scipy